#Cache

<FilesMatch "\.(html|htm|php|css|js|woff|png|jpg)$">
#Header set Cache-Control "max-age=604800, private, proxy-revalidate"
</FilesMatch>

#normas rewrite

#Options +FollowSymLinks
RewriteEngine On

#Force Non-WWW

RewriteCond %{HTTP_HOST} ^www\.pablocarrillo\.net [NC]
RewriteRule (.*) http://pablocarrillo.net/$1 [L,R=301]

#REdirección www

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.pablocarrillo.net [NC]
RewriteCond %{HTTP_HOST} ^www.pablocarrillo.es [NC]
RewriteCond %{HTTP_HOST} ^pablocarrillo.es [NC]
RewriteRule ^(.*)$ http://pablocarrillo.net/$1 [L,R=301]

#Redireccion 404

#Error 404:

ErrorDocument 404 /error404.php
