#Cache

<FilesMatch "\.(html|htm|php|css|js|woff|png|jpg)$">
#Header set Cache-Control "max-age=604800, private, proxy-revalidate"
</FilesMatch>

#normas rewrite

#Options +FollowSymLinks
RewriteEngine On

#Redirecciones

RewriteCond %{HTTP_HOST} ^www.pablocarrillo.es$ [NC]
RewriteRule ^(.*)$ http://pablocarrillo.net/ [R=301,L]
RewriteCond %{HTTP_HOST} ^pablocarrillo.es$ [NC]
RewriteRule ^(.*)$ http://pablocarrillo.net/ [R=301,L]

RewriteCond %{HTTP_HOST} ^www.pablocarrillo.me$ [NC]
RewriteRule ^(.*)$ http://pablocarrillo.net/ [R=301,L]
RewriteCond %{HTTP_HOST} ^pablocarrillo.me$ [NC]
RewriteRule ^(.*)$ http://pablocarrillo.net/ [R=301,L]

#Redireccion 404

#Error 404:

ErrorDocument 404 /error404.php
